<div class="min-h-screen text-white bg-cyan-500 bg-black">
  <!-- Header -->
  <div class="w-full flex justify-between p-8 h-1/6">
    <span class="font-fredoka flex items-center">
      <img src="assets/ghoss.png" class="h-32 inline" alt="">
    </span>

    <span>
      <img src="assets/Senegal-Flag-PNG-Photos.png" class="h-28 inline" alt="">
    </span>
  </div>

  <!-- First content: Presentation -->
  <div class="w-full md:h-4/6 md:grid md:grid-cols-2">
    <!-- Left zone -->
    <div class="grid h-full">
      <div class="flex items-center md:mx-20">
        <div>
          <label class="w-full text-center md:text-left font-fredoka text-8xl md:text-9xl my-5 block">GHOS</label>
          <label class="w-full text-center md:text-left font-fredoka text-3xl md:text-6xl block">
            Groupement des Beatmakers de l'ombre du Sénégal
            <img src="assets/icons8-senegal-96.png" class="md:h-14 h-9 inline" alt="">
          </label>
        </div>
      </div>
    </div>

    <!-- Right zone -->
    <div class="animate-pulse md:inline-flex hidden h-full saturate-50 flex items-center justify-center">
      <img src="assets/ghost.png" class="h" alt="">
    </div>
  </div>

  <!-- Divider -->
  <div class="w-full my-16 h-2 bg-gradient-to-r from-green-700 via-yellow-400 to-red-500"></div>

  <!-- Second content: About GHOS -->
  <div class="w-full md:h-2/6 grid md:grid-cols-3">
    <div class="md:inline-flex flex items-center justify-center">
      <img src="assets/Ghos%20(2).png" alt="">
    </div>

    <div class="md:col-span-2 flex items-center text-center">
      <div>
        <label class="font-fredoka text-4xl md:text-6xl block">Qu'est-ce que GHOS ?</label>
        <label class="font-adelia my-3 md:text-5xl block"><span class="font-fredoka">GHOS</span> (Groupement des Hommes de l'ombre du Sénégal) est une association de Beatmakers sénégalais
        visant à faciliter le placement d'instrumentaux aux artistes ainsi que la protection des droits du <span class="font-fredoka">Beatmaker</span> </label>
      </div>
    </div>
  </div>

  <!-- Divider -->
  <div class="w-full my-16 h-2 bg-gradient-to-r from-green-700 via-yellow-400 to-red-500"></div>

  <!-- Third content: Follow us -->
  <div class="w-full md:h-2/6 grid md:grid-cols-2">
    <div class="text-center">
      <label class="font-adelia font-bold text-2xl md:text-5xl">Prods de quelques artistes de GHOS</label>
      <div class="grid flex mx-10 text-left md:gap-8 justify-center md:grid-cols-2 my-16 md:my-20">
        <span>
          <label class="font-rubik md:text-2xl md:mx-5">Bra Making Shit</label>
          <audio controlsList="noDownload" src="assets/bra.aac" class="rounded-lg w-full border-purple-600 shadow-md md:shadow-lg drop-shadow-2xl shadow-purple-500" controls></audio>
        </span>

        <span>
          <label class="font-rubik md:text-2xl md:mx-5">Comson Beats</label>
          <audio controlsList="noDownload" src="assets/comson.mp3" class="rounded-lg w-full border-purple-600 shadow-md md:shadow-lg drop-shadow-2xl shadow-purple-500" controls></audio>
        </span>

        <span>
          <label class="font-rubik md:text-2xl md:mx-5">Eljee Beatz</label>
          <audio controlsList="noDownload" src="assets/eljee.mp3" class="rounded-lg w-full border-purple-600 shadow-md md:shadow-lg drop-shadow-2xl shadow-purple-500" controls></audio>
        </span>

        <span>
          <label class="font-rubik md:text-2xl md:mx-5">Babzo Beatz</label>
          <audio controlsList="noDownload" src="assets/babzo.mp3" class="rounded-lg w-full border-purple-600 shadow-md md:shadow-lg drop-shadow-2xl shadow-purple-500" controls></audio>
        </span>
      </div>
    </div>

    <div class="flex text-center">
      <div class="w-full">
        <label class="font-fredoka text-center text-2xl md:text-6xl block">Suivez-nous sur</label>
        <label class="my-3 md:text-5xl block flex md:my-16 justify-around">
          <a href="https://youtube.com/cannel/UCujNq45j7iAFC_Jw6_69npw" target="_blank" class="h-20 md:h-48">
            <img src="assets/you.png" class="h-full cursor-pointer ease-linear" alt="">
          </a>
          <a href="https://www.instagram.com/ghos_officiel/" target="_blank" class="h-20 md:h-48">
            <img src="assets/Insta.png" class="h-full cursor-pointer ease-linear" alt="">
          </a>
        </label>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="w-full h-28 flex justify-center items-center">
    <label class="font-adelia shadow-md md:shadow-lg shadow-purple-600 rounded-lg md:text-3xl">©GHOSSENEGAL #GHOSOFICIEL</label>
  </div>

</div>
